.full-width {
  width: 100%!important;
}

// .progress {
//   height: 1rem;
// }

.btn-sm {
  border: 0px;
  padding: 3px;
}

.text-red {
  color: #f00;
}

.col-auto {
  padding: 0px;
}

app-status-icon {
  margin-right: 5px;
}

.center {
  padding: 0 0;
}

.item-center {
  align-items : center;
}
