.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */

  .title {
    color: white;
    margin:0;
    padding:50px 20px;
  }
}

.flex-start {
  align-items: flex-start;
}

.header {
  height: 20%;
  min-height: 80px;

  align-items: center;
  border-bottom: 1px solid grey;
}
