@import '~bootstrap/scss/bootstrap.scss';
@import 'material-design-icons/iconfont/material-icons.css';
@import '@swimlane/ngx-dnd/release/index.css';
@import '~ngx-toastr/toastr.css';
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: local('Raleway'), local('Raleway-Regular'), url('./assets/fonts/Raleway-Regular.woff2') format('woff2');
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #1a1b22;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #302f39;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #3f4152;
}

html,
body,
.container {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

.container {
  padding: 10px;
}

.bg-dark {
  background-color: #1a1b22 !important;
}

.text-light {
  color: #c8c8c8 !important;
}

.transparency {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.server-title {
  margin: 0;
}

ngx-dnd-container>div {
  border: 3px solid gray !important;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1) !important;
  flex-wrap: wrap !important;
  min-width: 320px !important;
  max-width: 480px !important;
  min-height: 60px;
  margin: 0 !important;
}

ngx-dnd-item {
  border: 0px !important;
  margin: 0px !important;
  color: #fff;
}

// 아이템 드래깅 시에 추가되는 클래스
.gu-mirror {
  text-align: center;
}
