@import '~bootstrap/scss/bootstrap.scss';
@import 'material-design-icons/iconfont/material-icons.css';
@import '@swimlane/ngx-dnd/release/index.css';
@import '~ngx-toastr/toastr.css';
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  src: local('Raleway'), local('Raleway-Regular'), url('./assets/fonts/Raleway-Regular.woff2') format('woff2');
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #1a1b22;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #302f39;
  border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #3f4152;
}

html,
body,
.container {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

.container {
  padding: 10px;
}

.bg-dark {
  background-color: #1a1b22 !important;
}

.text-light {
  color: #c8c8c8 !important;
}

.transparency {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.server-title {
  margin: 0;
}

.ngx-dnd-container:nth-child {
  background-color: rgba(0, 0, 0, 0) !important;
}

.ngx-dnd-container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0) !important;
}

ngx-dnd-container {
  background-color: #1a1b22 !important;
  // background-color: #f00 !important;
}

ngx-dnd-container>div {
  border: 0px !important;
  // display: flex;
  // flex-wrap: wrap !important;
  min-height: 250px;
  max-height: 50%;
  margin: 0 !important;
}

// 아이템 드래깅 시에 추가되는 클래스
.gu-mirror {
  text-align: center;
}

.row {
  margin: 0px;
}

.card {
  // border: 1rem solid #141414;
  background-color: #1a1b22;
  padding: 0.5rem;
}

.padding-0 {
  padding: 0px;
}

.border-none {
  border: none;
}

ngx-dnd-item {
  border: 0px !important;
  color: #fff;
  text-align: center !important;
  padding: 0px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  width:100%;
}
