.container {
  margin: 0;
  margin-right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  -webkit-background-size: cover;
  /* pour anciens Chrome et Safari */
  background-size: cover;
  /* version standardisée */
  .title {
    color: white;
    margin: 0;
    padding: 50px 20px;
  }
  .server-list {
    display: block;
  }
}
