.text-lg {
  font-size: 1.5rem;
}

.margin-top-10px {
  margin-top: 10px;
}

.div-btn-float {
  position: absolute;
  right: 3rem;
  bottom: 3rem;
}

.btn-float {
  border: 0px;
  background-color: #f66375;
}

.btn-float-text {
  color: white;
}

.btn-float-text:hover {
  color: lightblue;
}

.server-list {
  width: 100%;
}

.bg-none {
  background-color: rgba(0, 0, 0, 0);
}

.service-symbol {
  border-width: 5px !important;
  margin: 0px !important;
  min-width: 100px;
}

.padding-0 {
  padding: 0 !important;
}
