<!-- 서버 칼럼 타이틀 -->
<div class="card">
  <div class="card-header" [class.text-success]="server.status === 'ON'">{{server.host}}</div>
  <ngx-dnd-container [model]="server.services" dropZone="1" [dropZone]="1">
    <ng-template let-model="model" let-template="template">
      <app-service-monitor [server]="server" [service]="model">
      </app-service-monitor>
    </ng-template>
  </ngx-dnd-container>
</div>


<!-- <div class="col-auto">
      <app-resource-sparkline [data]="cpuUsage"></app-resource-sparkline>
    </div>
    <div class="col-auto">
      <app-resource-sparkline [data]="memUsage"></app-resource-sparkline>
    </div> -->
